@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

/*--- General ---*/

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #292B2C;
}

.navbar-light {
    background-color: transparent!important;
    z-index: 100; 
}

.navbar-light .navbar-brand {
    padding: 0!important;
    font-size: 1.6rem!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #b3b3b1;
}

.light-weight {
    font-weight: 300;
}

.bold-weight {
    font-weight: 700;
}

a {
    color: #03a87c;
}

a:hover,
a:active,
a:focus {
    color: #018f69;
}

.btn,
.btn-call-to-action {
    padding: .3rem 1rem;
    background: #f8f9fa!important;
    border: none!important;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 37px;
    color: #03a87c!important;
    text-decoration: none!important;
    font-weight: 300;
    cursor: pointer;
    box-shadow: none!important;
}

#btn-post-job { 
    padding: 8px 16px; 
}

#btn-post-job:hover,
#btn-post-job:active,
#btn-post-job:focus {
    color: #018f69;
    border-color: #018f69;
}

.pb-6 {
    padding-bottom: 4rem;
}

/*--- Welcome section ---*/

.welcome-section {
    margin-bottom: 0;
    background: #fff;
    border-radius: 0;
}

.title-welcome{   
    line-height: 1.1;
    font-weight: 900;
}

#btn-post-job-mobile {
    display: block;
    text-align: center;
}

.btn-social-media-img {
    margin-top: -0.3rem;
}

/*--- Jobs section ---*/

.job-listing {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    border-bottom: 1px solid #EEEEEE;
}

.job-listing:last-child { 
    border-bottom: 0;
}

.post-title a {
    font-size: 1.4rem;
    color: #292B2C;
}

.post-subtitle {
    font-weight: 500;
    line-height: 1.4;
}

.post-subtitle a {
    color: rgba(0,0,0,.54);
}

.post-meta {
    color: #b3b3b1;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
}

.mobile-call-to-action {
    background-color: #fff;
    border-top: 1px solid #EEEEEE;
    padding: 1rem;
}

.input-copy-url {
    position: absolute; 
    left: -1000px; 
    top: -1000px;
}

.empty-link {

}

/*--- Footer section ---*/

#section-footer {
    font-size: 0.9rem;
}